.total-achievements{
    margin-top: 3%;
    background-image: url('./Assets/Exam+Blue.jpg');
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5% 8% 3% 8%;
}

.achievements{
    flex-direction: column;
    margin: 2%;
}

.heading-text{
    margin-bottom: 0;
}